<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Event driven architecture</title>
    <link rel="stylesheet" href="css/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="https://perokvist.github.io/event-driven-architecture/">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Event driven architecture">
    <meta property="og:description" content="Rambling about eda">
    <meta property="og:image" content="https://perokvist.github.io/event-driven-architecture/assets/notfound.png">
  </head>
  <body>
    {{ content }}
  </body>
</html>
